<div class="container" *ngIf="isLoggedIn()">
  <div class="row">
    <div (click)="goHome()">Inicio</div>
    <div (click)="goToSoftwares()">Lista Softwares</div>
    <div (click)="logout()">Sair</div>
  </div>
</div>

<router-outlet></router-outlet>

<ng-container *ngIf="loadingService.isLoading$ | async">
  <div class="loading-icon" style="z-index: 1001">
    <img
      [src]="'/assets/img/loading-buffering.gif'"
      alt="Loading Icon"
      class="img-centered"
    />
  </div>
</ng-container>