<section id="team" class="pb-5">
  <div class="container">
    <h5 class="section-title h1">Nossos Produtos</h5>
    <div
      class="row"
      style="justify-content: center;"
      *ngIf="softwares$ | async as softwares"
    >
      <div
        class="col-xs-12 col-sm-6 col-md-4"
        *ngFor="let software of softwares"
      >
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      [src]="getSantizeUrl(software.image)"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">{{ software.nickname }}</h4>
                  <p class="card-text" style="cursor: pointer; text-align: justify;">
                    {{ software.brief }}
                  </p>
                  <a href="#" class="btn btn-primary btn-sm"
                    ><i class="fa fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="backside col-md-12">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">
                    <a href="#">
                      <div (click)="openLocation(software)">
                        {{ software.name }}
                      </div>
                    </a>
                  </h4>
                  <p
                    class="card-text"
                    style="cursor: pointer; text-align: justify;"
                    (click)="openLocation(software)"
                  >
                    {{ software.consideration }}
                  </p>

                  <div class="inline-bottom">
                    <ul
                      style="color: red; text-align: center;"
                      *ngIf="software.inMaintenance"
                    >
                      Software Indisponível no momento
                    </ul>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a
                          class="social-icon text-xs-center"
                          target="_blank"
                          href="#"
                        >
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a
                          class="social-icon text-xs-center"
                          target="_blank"
                          href="#"
                        >
                          <i class="fa fa-twitter"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a
                          class="social-icon text-xs-center"
                          target="_blank"
                          href="#"
                        >
                          <i class="fa fa-skype"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a
                          class="social-icon text-xs-center"
                          target="_blank"
                          href="#"
                        >
                          <i class="fa fa-google"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
